.travels__title{
    max-width: 720px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color: #FFFFFF;
}
@media screen and (max-width: 779px){
    .travels__title{
        font-size: 40px;
    }
}