.cards__image{
    width: 460px;
    margin-right: 40px;
}
@media screen and (max-width: 1279px){
    .cards__image{
        width: 440px;
        height: 440px;
        margin-right: 32px;
    }
}
@media screen and (max-width: 1023px){
    .cards__image{
        width: 340px;
        height: 340px;
        margin-right: 28px;
    }
}
@media screen and (max-width: 767px){
    .cards__image{
        width: 320px;
        height: 320px;
        margin-right: 0;
    }
}